p{
color: red;
font-size:  20px;
border: 1px solid;
}
.user{
    color: greenyellow;
    font-size:  10px;
    border: yellow solid;

}
.user:hover{
    color:blue;
    font-size: 20px;
    border: 2px red solid;
}