.companyName{
    color: #ff6c3a;
    text-align: center;
    font-size: xxx-large; 
    font-weight: bolder;
}

@media only screen and (max-width: 768px) {
    .companyName{
        font-size: x-large; 
    }
}